
/*
.hover {
    color: #0000;
    background: 
      linear-gradient(90deg,#b7c7d4 50%,#000 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }
  .hover:hover {
    --_p: 0%;
  }
 */

 body {
    margin: 0px;
    background: black;
    background-image: url("/images/i5rC6Gc.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

nav {
    
    background-color: #39586f;

    background-image: url("/images/neural.png");
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;

    border-style: solid;
    display: flex;
    flex-wrap: nowrap;    
    justify-content: right;    
    font-family: "Bungee Inline";
    font-size: medium;
    

}

nav a{
    color: #b7c7d4;
    font-size: 16px;
    margin-right: 20px;
}

nav a:hover{
    color: whitesmoke;
}

footer {
    background-color: #39586f;

    background-image: url("/images/neural.png");
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;

    border-style: solid;
    display: flex;
    justify-content: center;
    margin-top: auto;

    
}

footer a{
    color: #b7c7d4;
    font-size: 16px;
    font-family: "Bungee Inline";
    margin-top: 7px;
    margin-bottom: 7px;
}

footer a:hover{
    color: whitesmoke;    
}

.general-info, .content{
    
    padding: 25px 50px 10px 50px;
    font-family: "Antonio";
    font-size:large;
    color: #b7c7d4;
    text-align: center;
    
}



.general-info, .content a{
    position: relative;
    color: #b7c7d4;;
    text-decoration: none;

}

.content a:hover{
    color: whitesmoke;
}



.general-info img{
    position: absolute;
    width: 20%;
    border: 0px solid #333;
    border-radius: 10px;

}

.GalaxyLeft{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    border: 2px solid #333;
    border-radius: 10px;
    height: 200px;
    width: 40px;
}

.headshot{
    border-radius: 1000px;
    margin-top: 50px;
    border-color: #333;
    border-style: inset;
    height: 100px;
    width: 100px;
}

.central {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    border: 2px solid #333;
    border-radius: 10px;
    height: 150px;
    width: 50px;
}

#skills {
    width: 277.66px;
}

#skills ul {
    margin-left: 20px;
}

#lang ul{
    margin-left: 20px;
}


hr{
    border-top: 1px  #7e8489;
    border-radius: 1px;
    display: block;
    margin-top: 80px;
    border-color: #7e8489;
}

.card {
    box-shadow: 0 4px 8px rgba(30, 69, 132, 0.1);
    transition: 0.2s;
    background-color:#39586f;
    border-radius: 7px;
    margin: 30px auto;
    width: fit-content;
    text-align: center;
    
    

}

.card img {
    box-shadow: 0px 4px 8px rgba(30, 69, 132, 0.1);
    background-color:#39586f;
    border-radius: 7px;
    
    
}
 
.card:hover{
    box-shadow: 0 4px 8px #b7c7d4;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}




.card ul {
    display: table;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.card ul li {
    list-style:circle;
    text-align:left;
    margin: 0 auto;
    
}

.card dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-right: 20px;

    

}

.card dt {
    font-weight: bold;
    margin-left: 20px;

}

.card dd {
    display: grid;
    justify-content: center;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
}



.one-col{
    max-width: 400px;
    margin: 0 auto;
    font-family: "Antonio";
    

}

.card form input {
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
}
.one-col form {
    display: flex;
    flex-direction: column;
    border-radius: 200px;
    padding: 25px 50px 10px 50px;
}

.one-col form label {
    display: flex;
    justify-content: center;
    
    margin-bottom: 30px;
    font-weight: bold;
}

.general-info2{
    
    padding: 25px 50px 10px 50px;
    font-family: "Antonio";
    color: #b7c7d4;
    text-align: center;

}



.general-info2 a{
    position: relative;
    color: #b7c7d4;
    text-decoration:underline;

}




.general-info2 img{
    position: absolute;
    width: 20%;
    border: 0px solid #333;
    border-radius: 10px;

}

.general-info2 a:hover{
    color: whitesmoke;
    text-decoration:underline;
}
